PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
SYNCHRONIZE=true

JWT_SECRET=your-super-secret-jwt-key
JWT_REFRESH_SECRET=your-super-secret-refresh-key
JWT_EXPIRES_IN=1900            # in seconds (1900 seconds = ~31.6 minutes)
JWT_REFRESH_EXPIRES_IN=604800 # 7 days in seconds