services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: student_management
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  # api:
  #   build:
  #     context: ./apps/api
  #     target: dev
  #   env_file: .env
  #   ports:
  #     - '4131:4131'
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - ./apps/api:/usr/src/app
  #     - /usr/src/app/node_modules
  #   command: npm run start:dev

  # web:
  #   build:
  #     context: ./apps/web
  #     dockerfile: Dockerfile
  #   env_file: .env
  #   ports:
  #     - '3001:3001'
  #   volumes:
  #     - ./apps/web:/usr/src/app
  #     - /usr/src/app/node_modules
  #     - /usr/src/app/.next
  #   command: npm run dev

volumes:
  postgres_data:
  pgadmin_data:
