@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbar-gutter-both {
  scrollbar-gutter: stable both-edges;
}
