PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
SYNCHRONIZE=true

JWT_AUDIENCE=web
JWT_ISSUER=api
JWT_SECRET=your-super-secret-jwt-key
JWT_REFRESH_SECRET=your-super-secret-refresh-key
JWT_EXPIRES_IN=900            # 15 minutes in seconds
JWT_REFRESH_EXPIRES_IN=604800 # 7 days in seconds

# Storage driver: local / r2
STORAGE_DRIVER=r2

# R2 bucket and CDN
R2_BUCKET=your_bucket_name
R2_CDN_URL=https://your-cdn-url.example.com


# R2 credentials
R2_ACCOUNT_ID=c64214faa41e47ef5abd2a709ce1ba3f
R2_ACCESS_KEY=1694292a29c9b281760c6a453f5e1bf3fdb4e346dd1f13d9c8c25c30e7583417
R2_SECRET_KEY=your_secret_key
R2_REGION=auto


# Buckets
R2_PUBLIC_BUCKET=my-public-bucket
R2_PRIVATE_BUCKET=my-private-bucket
R2_PUBLIC_CDN_URL=https://cdn.example.com

# Local fallback (optional)
LOCAL_STORAGE_PATH=uploads
LOCAL_STORAGE_URL=http://localhost:3000/uploads
